body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  place-items: center;
  min-height:100dvh;
  background-color: #1B1B1F;
  color: #DFDFD6;
}

main {
  width: full;
  max-width: 1200px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

#main span {
  background: -webkit-linear-gradient(top left, #48C8FF, #BD34FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main span, h1 {
  font-size: 60px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

#main h2 {
  color: #9898A0
}

.buttonArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.buttonArea button{
  color: #DFDFD6;
  background-color: #32363F;
  border: none;
  border-radius: 25px;
  height: 50px;
  padding: 0px 22px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
}

.buttonArea button:hover{
  background-color: #515764;
  
}

.buttonArea button:first-child {
  background-color: #747BFF; /* Color diferente para el primer botón */
}

.buttonArea button:first-child:hover {
  background-color: #9ea2ff; /* Color diferente para el primer botón en hover */
}

.buttonArea button:last-child {
  background-color: #747BFF; /* Color diferente para el último botón */
}

.buttonArea button:last-child:hover {
  background-color: #989dff; /* Color diferente para el último botón en hover */
}

.card {
  max-width: 370px;
  height: 200px;
  background-color: #202127;
  border-radius: 20px;
  padding: 30px;
}

.card div {
  padding: 10px;
  background-color: #2B2F36;
  width: fit-content;
  border-radius: 20px;
}

.cardSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px 0px
}

#logoContainer {
  position: relative;
}

#logoContainer div{
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  filter: blur(90px);
  border-radius: 50%;
  background: radial-gradient(circle at center, #48C8FF, #BD34FE);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#logoContainer img {
  position: relative;
  width: 380px;
  object-fit: cover;
  z-index: 2;
}
